<div class="row">
  <div class="col text-center">
    <h1>{{title}}</h1>
    <h2>{{subTitle}}</h2>
    <p>{{description}}</p>
    <p>Reference:
      <a href="{{reference}}" target="_blank">{{reference}}</a>
    </p>
  </div>
</div>
<div class="container no-padding">
  <form [formGroup]="filterForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Search:</label>
        <input class="form-control" [(ngModel)]="searchTerm" formControlName="search" (ngModelChange)="setDisplayListToSearchList()"
        />
      </div>
      <div class="form-group col-md-6">
        <label>Birthplace:</label>
        <select class="form-control" [(ngModel)]="selectedCountry" formControlName="country" (ngModelChange)="setDisplayItemsByCountryFilter()">
          <option *ngFor="let country of countrySelectionOptions" [ngValue]="country">{{country}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Currency Converter:</label>
        <select class="form-control" [(ngModel)]="selectedCurrency" formControlName="currency">
          <option *ngFor="let currency of currencySelectionOptions" [ngValue]="currency">{{currency.prefix}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label>Order By:</label>
        <select class="form-control" [(ngModel)]="selectedOrder" formControlName="order" (ngModelChange)="setDisplayItemsByOrder()">
          <option *ngFor="let order of orderSelectionOptions" [ngValue]="order">{{order}}</option>
        </select>
      </div>
    </div>
    <button class="btn btn-primary" (click)="clearFilters()">Reset Filters</button>
  </form>
</div>
<div class="container">
  <p *ngIf="!renderRecordsFound()">No records found.</p>
  <ul class="list-group" *ngIf="renderRecordsFound()">
    <li class="list-group-item text-center" *ngFor="let person of displayList">
      <app-rich-list-item [person]="person" [currency]="selectedCurrency"></app-rich-list-item>
    </li>
  </ul>
</div>